<nav class="navbar navbar-dark navbar-expand-lg bg-dark pb-4 justify-content-center">
  <ul class="navbar-nav">
    <li id="landingPageLink" class="nav-item mr-3">
      <a class="nav-link btn btn-outline-primary" href="">active tasks</a>
    </li>
    <li class="nav-item mr-3" id="finishedTasksLink">
      <a class="nav-link btn btn-outline-primary" href="">finished tasks</a>
    </li>
    <li class="nav-item mr-3" id="allTasksLink">
      <a class="nav-link btn btn-outline-primary" href="">all tasks</a>
    </li>
  </ul>
</nav>
