<div class="btn-group mb-2" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle" aria-controls="dropdown-basic">Select Task Type <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><button class="dropdown-item" (click)="fetchTasks.emit(null)">All Tasks <i *ngIf="taskFilter === null" class="fa fa-check"></i></button></li>
    <li role="menuitem"><button class="dropdown-item" (click)="fetchTasks.emit(true)">Finished Tasks <i *ngIf="taskFilter === true" class="fa fa-check"></i></button></li>
    <li role="menuitem"><button class="dropdown-item" (click)="fetchTasks.emit(false)">Unfinished Tasks <i *ngIf="taskFilter === false" class="fa fa-check"></i></button></li>
  </ul>
</div>


<table class="table table-dark table-bordered table-hover" style="table-layout: fixed">
  <thead>
    <tr>
      <td>#</td>
      <td>Title</td>
      <td>Description</td>
      <td>Done</td>
      <td>Date</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let taskDto of tasks" (click)="selectedEntry.emit(taskDto)" [class.bg-primary]="currentEntryId === taskDto.id">
      <td>{{ taskDto.id }}</td>
      <td>{{ taskDto.title }}</td>
      <td>{{ taskDto.description }}</td>
      <td>{{ taskDto.done }}</td>
      <td>{{ taskDto.date }}</td>
    </tr>
  </tbody>
</table>
